@import '../../styles/colors';

.listWrap{
    .listContainer{
        margin-top: 2%;
    }
    .listcard{
        height: 137px;

        .img{
            img{
                width: 100% !important;
                height: 100px;

            }
        }
    }
    .nameWrap{
        padding-top: 5%;
    }
    .text{
        font-size: 19px;
        font-weight: 500;
    }
}