body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.line {
  line-height: 0.5;
  text-align: center;
}
.line span {
  display: inline-block;
  position: relative;  
}
.line span:before,
.line span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #d0cdcd;
  top: 0;
  width: 150px;
}
.line span:before {
  right: 100%;
  margin-right: 15px;
}
.line span:after {
  left: 100%;
  margin-left: 15px;
}

// spacer

.spacer5{
  height:5px
}.spacer10{
  height:10px
}
.spacer20{
  height:20px
}
.spacer25{
  height:25px
}
.spacer30{
  height:30px
}
.spacer40{
  height:40px
}
.spacer50{
  height:50px
}
.spacer60{
  height:60px
}
.spacer80{
  height:80px
}

.inputs{
  height: 45px;
  width: 100%;
  border: 2px solid black;
  padding-left: 14px;
  font-size: 17px;
  margin-bottom: 2px;
}
.check{
  height: 30px;
  width: 100%;
  border: 2px solid black;
  background-color: grey;
  margin-left: -11px;
  font-size: 17px;
  margin-bottom: 2px;
}
.textDecor{
  font-size: 17px;
}
.btn1{
  width: 100%;
  height: 45px;
  background-color: #3c3c3c;
  color: white;
}
.center{
  text-align:center;
}
.icon{
  border: 1px solid;
  font-size: 25px;
  padding: 9%;
  border-radius: 50%;
  cursor: pointer;
}
.errMsg{
  color:red;
}
.navs {
  background: #ffffff !important;
}